.container_projects{
    position: relative;
}

.section_hero_projects{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img_laptop_projetos{
    max-width: 400px;
}


/* Sessão linguagem */
.section_languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

.img_languages ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px 0px 200px 525px rgb(74, 55, 249, 30%);
    margin: 0px;
    padding: 10px 0px 0px 0px;
    border-radius: 10px;
}

.img_languages p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.img_languages li{
    list-style: none;
}

.img_languages img{
    width: 5vw;
}

/* Sessão Database */
.section_database{
    display: flex;
    flex-direction: column;
}

.img_database p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.img_database ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px 0px 200px 525px rgb(74, 55, 249, 30%);
    margin: 0px;
    padding: 10px 0px 0px 0px;
    border-radius: 10px;
}

.img_database li{
    list-style: none;
}

.img_database img{
    width: 5vw;
}