.messageText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(to left top, #ABD9D9, 30%, #3628B4);
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 45vh;    
}

.messageText p{
    width: 50vw;
    font-size: 1.3em;
}

.no_extra_text{
    display: none;
}

@media (max-width: 768px){
    .messageText{
        height: 65vh;
    }

    .messageText p{
        width: 60vw;
        font-size: 1.2em;
    }
}

@media (max-width: 575px){
    .messageText{
        height: 55vh;
    }

    .messageText p{
        width: 65vw;
        font-size: 1.5em;
    }
}

@media (max-width: 428px){
    .messageText{
        height: 65vh;
    }

    .messageText p{
        width: 70vw;
    }
}

@media (max-width: 520px){
    .messageText{
        width: 80vw;
    }
}