.container_navbar{
    display: flex;
    position: relative;
}

.container_navbar ul{
    display: flex;
    gap: 50px
}

.container_navbar li{
    list-style-type: none;
}

/* Is logged */
.button_navbar{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
}
.button_navbar:visited  {
    color: #ffff;
    text-decoration: none;
}

.button_navbar:link  {
    color: #ffff;
    text-decoration: none;
}

/* not logged */


/* rest of code */
.company_name_logged{
    font-size: 24px;    
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff;
    padding-right: 48%;
}

.company_name_not_logged{
    font-size: 24px;    
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff;
    padding-right: 67%;
}