.container_navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.container_navbar ul{
    display: flex;
    gap: 20px;
}

.container_navbar li{
    list-style-type: none;
}

.button_navbar_company{
    text-decoration: none;
    color: #ffff;
    font-size: 24px;
    transition:  0.5s ease-in-out;
}

.button_navbar_desktop li{
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button_navbar_desktop,
.button_navbar_mobile{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    transition:  0.5s ease-in-out;
}

.button_navbar_desktop:hover,
.button_navbar_mobile:hover{
    letter-spacing: 0.2em;
}

.button_navbar_company:hover{
    letter-spacing: 0.1em;
}

.button_navbar_desktop:visited,
.button_navbar_company:hover,
.button_navbar_mobile:visited{
    color: #ffff;
    text-decoration: none;
}

.button_navbar_desktop:link,
.button_navbar_mobile:link,
.button_navbar_company:hover{
    color: #ffff;
    text-decoration: none;
}

.company_name_desktop{
    font-size: 24px;    
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff;
}

.mobile_container{
    display: none;
}

@media (max-width: 1200px){
    .mobile_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0; margin: 0;
    }

    .container_navbar{
        display:inline;
    }

    .burguer-button{
        color: white;
        font-size: 3.5em;
        cursor: pointer;
    }
    .div_list_mobile,
    .ul_mobile_navbar{
        display: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .active{
        display: flex;
    }

    .company_name_mobile{
        display: flex;
    }

    .company_name_desktop{
        display: none;
    }

    .company_name_mobile{
        font-size: 24px;    
        font-weight: bold;
        text-transform: uppercase;
        color: #ffff;
    }

    .ul_desktop_navbar,
    .button_navbar_desktop,
    .company_name_desktop,
    .ul_desktop_navbar ul{
        display: none;
        padding: 0; margin: 0;
    }
}