.container_home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_home p{
    color: #ffff;
}

.section_hero{
    display: flex;
    flex-direction: row;
    column-gap: 33%;
}

.title_and_icons h1{
    font-size: 100px;
    width: 800px;
    height: 200px;
    padding-bottom: -40px;
    text-align: center;
}

.title_and_icons{
    text-transform: capitalize;
}

.title_and_icons p{
    font-size: 24px;
    padding-left: 15%;
    padding-right: 10%;
    text-align: center;
}

.img_laptop{
    margin-top: 100px;
    width: 20vw;
    height: 40vh;
}

.icons ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icons_img{
    width: 100px;
    height: 100px;
}

.section_object{
    display: flex;
    flex-direction: column;
    color: #ffff;
    margin-top: 25vh;}

.section_object h3{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

.section_object p{
    font-size: 22px;
    letter-spacing: 2px;
}

.section_school{
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
}

.section_school h3{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

.school h3{
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
}

.section_courses{
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
}

.section_courses h3{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}
.section_projects{
    margin-top: 25vh;}

.section_projects h2{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}

.section_projects p{
    font-size: 80px;
    font-weight: bold;
    width: 600px
}