.container_home{
    position: relative;
}

.container_home p{
    color: #ffff;
}

.section_hero{
    display: flex;
    flex-direction: row;
    column-gap: 30%;
}

.title_and_icons h1{
    font-size: 100px;
    width: 800px;
    height: 200px;
    padding-bottom: -40px;
    text-align: center;
}

.title_and_icons{
    text-transform: capitalize;
}

.title_and_icons p{
    font-size: 24px;
    padding-left: 15%;
    padding-right: 10%;
    text-align: center;
}

.img_laptop{
    margin-top: 100px;
    width: 20vw;
    height: 40vh;
}

.icons ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icons_img{
    width: 100px;
    height: 100px;
}

.section_objetivo{
    display: flex;
    color: #ffff;
}