@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700&family=Roboto:wght@400;500&display=swap');

:root{
  --background-color: #070821;
  --color-text:  #ffff;
}

html, body{
  height: 100%;
}

body{
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

h1, h2, h3, p{
  color: var(--color-text);
}

.container{
 margin: 32px 200px 50px 300px;
}

.circle_shape{
  width: 580px;
  height: 580px;
  box-shadow: inset 0px 0px 200px 525px rgb(74, 55, 249, .9);
  position: absolute;
}

.circle_blur{
  filter: blur(200px);
}

.circle_position_left{
  top: -10px;
  left: -5px;
}

.circle_position_right{
  top: 300px;
  right: 0px;
}